<div class="container">
    <p style="color:red;">@ViewBag.Message</p>
    <form action="/Login/Register">
        <div class="form-group">
            <label>Korisniko ime</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email">
        </div> 
        <div class="form-group">
            <label>Lozinka</label>
            <input type="password" class="form-control" name="password">
        </div> 
        <div class="form-group">
            <label>Broj racuna</label>
            <input type="text" class="form-control" name="AccountNumber">
        </div>  
        <button type="submit" class="btn btn-primary">Registruj  se</button>
    </form>
</div>  